@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_type\.scss}line{font-family:\000032}}
* {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_type\.scss}line{font-family:\000036}}
html, body {
  width: 100%;
  font-family: "\5FAE\8F6F\96C5\9ED1",tahoma,arial,"\u5b8b\u4f53",sans-serif,Microsoft YaHei !important;
  font-size: 12px;
  background: #f2f2f2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_type\.scss}line{font-family:\0000312}}
a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_type\.scss}line{font-family:\0000315}}
ol li, ul li {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_type\.scss}line{font-family:\0000318}}
img {
  border: none;
}

/* 圆角 */
/* ellipsis，省略号，当超过宽度时，显示省略号： */
/* 定位 */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_util\.scss}line{font-family:\000031}}
.clearfix {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_util\.scss}line{font-family:\000033}}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_util\.scss}line{font-family:\000039}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_util\.scss}line{font-family:\0000313}}
.error, .topad .img_a, .header_con, .top_con, .nav_con, .content_con, .well_chosen, .golbal_goods {
  width: 1000px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\000033}}
.container {
  width: 100%;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\000037}}
.topad {
  height: 80px;
  background: #41BAE1;
  overflow: hidden;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000312}}
.topad .img_a {
  display: block;
  height: 80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000318}}
.header {
  height: 28px;
  border-bottom: 1px solid #ddd;
  background: #f2f2f2;
  overflow: hidden;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000325}}
.header_con {
  height: 28px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000329}}
.header_notice {
  float: left;
  width: 225px;
  height: 28px;
  position: relative;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000335}}
.header_notice .notice_img {
  float: left;
  display: inline-block;
  width: 12px;
  height: 10px;
  position: relative;
  top: 10px;
  right: auto;
  bottom: auto;
  left: auto;
  background: url("../images/common/icons.png") no-repeat right bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000343}}
.header_notice .notice_span {
  float: left;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000350}}
.header_notice .show_notice {
  position: absolute;
  top: auto;
  right: 0;
  bottom: auto;
  left: auto;
  width: 180px;
  height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000354}}
.header_notice .show_notice li {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 28px;
  height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000358}}
.header_notice .show_notice li a {
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_mixin\.scss}line{font-family:\000034}}
.header_notice .show_notice li a:hover {
  color: #F90800;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_mixin\.scss}line{font-family:\000038}}
.header_notice .show_notice li a:visited {
  color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000364}}
.header_right_ul {
  height: 16px;
  float: right;
  margin-top: 5px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000369}}
.header_right_ul li {
  float: left;
  border-right: 1px solid #666;
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000373}}
.header_right_ul li a {
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_mixin\.scss}line{font-family:\000034}}
.header_right_ul li a:hover {
  color: #F90800;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_mixin\.scss}line{font-family:\000038}}
.header_right_ul li a:visited {
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000375}}
.header_right_ul li a img {
  position: relative;
  top: 1px;
  right: 5px;
  bottom: auto;
  left: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000379}}
.header_right_ul li .red_a {
  color: #f70800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000383}}
.header_right_ul .last {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000387}}
.top {
  height: 105px;
  overflow: hidden;
  position: relative;
  background: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000393}}
.top_con {
  height: 105px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\0000398}}
.top_logo {
  float: left;
  width: 206px;
  height: 76px;
  margin-top: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003103}}
.top_logo a {
  display: block;
  height: 76px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003106}}
.top_logo a img {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003111}}
.top_search_box {
  position: absolute;
  top: 25%;
  right: auto;
  bottom: auto;
  left: 50%;
  margin-left: -208px;
  width: 416px;
  height: 32px;
  border: 2px solid #f70800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003117}}
.top_search_box .txt {
  width: 325px;
  height: 16px;
  float: left;
  border: none;
  outline: none;
  padding: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003125}}
.top_search_box .btn {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 75px;
  height: 32px;
  background: #f70800;
  text-align: center;
  line-height: 32px;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003138}}
.top_car {
  float: right;
  margin-top: 28px;
  width: 138px;
  height: 30px;
  border: 1px solid #ddd;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003145}}
.top_car .car_img1 {
  margin: 5px 0 0 12px;
  width: 19px;
  height: 18px;
  background: url(../images/common/icon2.png) no-repeat 0 -66px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003152}}
.top_car .car_img2 {
  position: relative;
  top: -4px;
  right: auto;
  bottom: auto;
  left: 18px;
  width: 11px;
  height: 7px;
  background: url(../images/common/icon2.png) no-repeat -189px -60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003158}}
.top_car .car_number {
  position: absolute;
  top: -7px;
  right: 22px;
  bottom: auto;
  left: auto;
  width: 22px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  color: #FFF;
  font-weight: bold;
  background: url(../images/common/icon2.png) no-repeat 0 -101px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003168}}
.top_car a {
  color: #666;
  position: relative;
  top: -4px;
  right: auto;
  bottom: auto;
  left: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_mixin\.scss}line{font-family:\000034}}
.top_car a:hover {
  color: #F90800;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_mixin\.scss}line{font-family:\000038}}
.top_car a:visited {
  color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003173}}
.nav {
  height: 40px;
  background: #f70800;
  overflow: hidden;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003179}}
.nav_con {
  height: 40px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003184}}
.nav_ul {
  float: left;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003187}}
.nav_ul li {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003189}}
.nav_ul li a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003197}}
.nav_ul li a img {
  position: relative;
  top: 3px;
  right: auto;
  bottom: auto;
  left: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003202}}
.nav_ul .nav_first_li {
  background: #bc0600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003206}}
.nav_classify {
  width: 134px;
  height: 40px;
  float: right;
  background: url(../images/index/searchbar.jpg) no-repeat 0 -65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003211}}
.nav_classify:hover {
  background-position: 0 -133px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003215}}
.banner {
  height: 340px;
  overflow: hidden;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003220}}
.banner_con {
  position: absolute;
  left: 50%;
  width: 1920px;
  margin-left: -950px;
  height: 340px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003228}}
.banner_scroll {
  width: 11520px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003230}}
.banner_scroll li {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003234}}
.banner_prev, .banner_next {
  display: block;
  width: 30px;
  height: 60px;
  background: url(../images/common/scroll.png) no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003241}}
.banner_prev {
  position: absolute;
  top: 140px;
  right: auto;
  bottom: auto;
  left: 460px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003244}}
.banner_next {
  position: absolute;
  top: 140px;
  right: auto;
  bottom: auto;
  left: 1390px;
  background-position: 0 -76px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003248}}
.banner_nav {
  width: 80px;
  height: 20px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 15px;
  left: 50%;
  margin-left: -40px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003254}}
.banner_nav span {
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #859694;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003261}}
.banner_nav .hover {
  background: #f70800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003266}}
.content_con {
  height: 402px;
  margin-top: 22px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003271}}
.day_choice {
  float: left;
  width: 700px;
  height: 400px;
  background: #FFF;
  border: 1px solid #ddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003278}}
.day_choice_top {
  width: 4200px;
  height: 305px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003281}}
.day_choice_top li {
  float: left;
  width: 700px;
  height: 305px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003285}}
.day_choice_top li a {
  display: block;
  width: 700px;
  height: 305px;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003291}}
.day_choice_top li a dl dt {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003293}}
.day_choice_top li a dl dt img {
  width: 340px;
  height: 305px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003298}}
.day_choice_top li a dl dd {
  float: left;
  width: 290px;
  height: 100px;
  margin: 42px 0 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003303}}
.day_choice_top li a dl dd p {
  color: #666;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003307}}
.day_choice_top li a dl dd h1 {
  color: #f70800;
  margin-top: 10px;
  float: left;
  font-size: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003312}}
.day_choice_top li a dl dd h1 span {
  font-size: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003316}}
.day_choice_top li a dl dd .span {
  display: block;
  float: left;
  color: #FFF;
  width: 34px;
  height: 15px;
  background: #ff504a;
  text-align: center;
  line-height: 15px;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003328}}
.day_choice_top li a dl dd .day_choice_discuss {
  margin-left: 39px;
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003332}}
.day_choice_top li a dl dd .phone_number {
  position: relative;
  top: -10px;
  right: auto;
  bottom: auto;
  left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003341}}
.day_choice_bottom {
  width: 700px;
  height: 94px;
  border-top: 1px solid #ddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003345}}
.day_choice_bottom img {
  float: left;
  display: block;
  width: 66px;
  height: 66px;
  margin: 13px 20px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003352}}
.day_choice_bottom .day_choice_bottom_first {
  margin-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003356}}
.shopping {
  float: right;
  width: 290px;
  height: 400px;
  background: #FFF;
  border: 1px solid #ddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003363}}
.shopping_top {
  width: 290px;
  height: 40px;
  border-bottom: 1px solid #ddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003367}}
.shopping_top img {
  display: block;
  float: left;
  margin: 12px 0 0 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003372}}
.shopping_top h2 {
  float: left;
  margin: 10px 0 0 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003377}}
.shopping_bottom {
  width: 290px;
  height: 359px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003381}}
.shopping_ul {
  width: 258px;
  height: 359px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003385}}
.shopping_ul .li, .shopping_ul .shopping_ul_li1, .shopping_ul .shopping_ul_li2, .shopping_ul .shopping_ul_li3 {
  width: 258px;
  border-bottom: 1px dashed #ddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003389}}
.shopping_ul .shopping_ul_li1 {
  height: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003392}}
.shopping_ul .shopping_ul_li1 dt {
  width: 115px;
  height: 115px;
  float: left;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003398}}
.shopping_ul .shopping_ul_li1 dd {
  width: 128px;
  height: 117px;
  float: left;
  margin: 20px 0 0 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003403}}
.shopping_ul .shopping_ul_li1 dd h2 {
  color: #f70800;
  margin-top: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003407}}
.shopping_ul .shopping_ul_li1 dd img {
  display: block;
  float: left;
  position: relative;
  top: 3px;
  right: auto;
  bottom: auto;
  left: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003412}}
.shopping_ul .shopping_ul_li1 dd div {
  margin-top: 8px;
  width: 91px;
  height: 23px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #f70800;
  text-align: center;
  line-height: 23px;
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003424}}
.shopping_ul .shopping_ul_li2 {
  height: 140px;
  width: 260px;
  position: relative;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003430}}
.shopping_ul .shopping_ul_li2 .shopping_li2_title {
  margin-top: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003432}}
.shopping_ul .shopping_ul_li2 .shopping_li2_title span {
  color: #f70800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003436}}
.shopping_ul .shopping_ul_li2 .live {
  width: 530px;
  height: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003439}}
.shopping_ul .shopping_ul_li2 .live li {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003444}}
.shopping_ul .shopping_ul_li2 .live li img {
  display: block;
  width: 80px;
  height: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003450}}
.shopping_ul .shopping_ul_li2 .live .live_last {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003454}}
.shopping_ul .shopping_ul_li2 a {
  display: block;
  width: 30px;
  height: 60px;
  position: absolute;
  top: 44px;
  z-index: 3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003461}}
.shopping_ul .shopping_ul_li2 a.live_prev {
  left: 0;
  background: url(../images/common/scroll.png) no-repeat 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003465}}
.shopping_ul .shopping_ul_li2 a.live_prev:hover {
  background-position: -92px -76px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003468}}
.shopping_ul .shopping_ul_li2 a.live_next {
  right: 0;
  background: url(../images/common/scroll.png) no-repeat 0 -76px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003472}}
.shopping_ul .shopping_ul_li2 a.live_next:hover {
  background-position: -92px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003477}}
.shopping_ul .shopping_ul_li3 {
  height: 67px;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003481}}
.shopping_ul .shopping_ul_li3 .live_bottom {
  width: 260px;
  height: 40px;
  margin: 14px 0 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003485}}
.shopping_ul .shopping_ul_li3 .live_bottom li {
  width: 55px;
  height: 40px;
  margin-right: 30px;
  float: left;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003491}}
.shopping_ul .shopping_ul_li3 .live_bottom li a {
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url(../images/common/icons.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003496}}
.shopping_ul .shopping_ul_li3 .live_bottom li a.live_a1 {
  background-position: 0 -201px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003499}}
.shopping_ul .shopping_ul_li3 .live_bottom li a.live_a2 {
  background-position: -26px -201px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003502}}
.shopping_ul .shopping_ul_li3 .live_bottom li a.live_a3 {
  background-position: -56px -201px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003510}}
.well_chosen {
  height: 665px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003514}}
.top_line {
  position: relative;
  width: 1000px;
  height: 60px;
  border-bottom: 2px solid #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003519}}
.top_line img {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  display: block;
  width: 250px;
  bottom: -28px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003528}}
.four_box {
  margin-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003530}}
.four_box a {
  display: block;
  width: 490px;
  height: 270px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003537}}
.four_box a.right_a {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003540}}
.four_box a.bottom_a {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/UGoShop\/www\/src\/scss\/_index\.scss}line{font-family:\00003545}}
.golbal_goods {
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
