@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: "\5FAE\8F6F\96C5\9ED1",tahoma,arial,"\u5b8b\u4f53",sans-serif,Microsoft YaHei !important;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #666;
}

ol li, ul li {
  list-style: none;
}

img {
  border: none;
}

/* 圆角 */
/* ellipsis，省略号，当超过宽度时，显示省略号： */
/* 定位 */
.clearfix, .nav_out_li .nav_info, .footer, .content, .smallImg_bottom, .preferential_price {
  *zoom: 1;
}
.clearfix:before, .nav_out_li .nav_info:before, .footer:before, .content:before, .smallImg_bottom:before, .preferential_price:before, .clearfix:after, .nav_out_li .nav_info:after, .footer:after, .content:after, .smallImg_bottom:after, .preferential_price:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after, .nav_out_li .nav_info:after, .footer:after, .content:after, .smallImg_bottom:after, .preferential_price:after {
  clear: both;
}

.error, .topad .img_a, .header_con, .nav_con, .footer_img, .footer_map, .footer_link, .top_con, .menu_con, .content_title, .content_banner, .content_productBox {
  width: 1000px;
  margin: 0 auto;
}

.container {
  width: 100%;
  position: relative;
}

/*
 *
 *顶部广告
 *
 */
.topad {
  height: 80px;
  background: #41BAE1;
  overflow: hidden;
  position: relative;
}
.topad .img_a {
  display: block;
  height: 80px;
}

/*
 *
 *顶部菜单
 *
 */
.header {
  height: 28px;
  border-bottom: 1px solid #ddd;
  background: #f2f2f2;
  overflow: hidden;
  position: relative;
}

.header_con {
  height: 28px;
}

.header_notice {
  float: left;
  width: 225px;
  height: 28px;
  position: relative;
  overflow: hidden;
}
.header_notice .notice_img {
  float: left;
  display: inline-block;
  width: 12px;
  height: 10px;
  position: relative;
  top: 10px;
  right: auto;
  bottom: auto;
  left: auto;
  background: url("../images/common/icons.png") no-repeat right bottom;
}
.header_notice .notice_span {
  float: left;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-left: 5px;
}
.header_notice .show_notice {
  position: absolute;
  top: auto;
  right: 0;
  bottom: auto;
  left: auto;
  width: 180px;
  height: 30px;
}
.header_notice .show_notice li {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 28px;
  height: 30px;
}
.header_notice .show_notice li a {
  color: #666;
}
.header_notice .show_notice li a:hover {
  color: #F90800;
  text-decoration: underline;
}

.header_right_ul {
  height: 16px;
  float: right;
  margin-top: 5px;
  overflow: hidden;
}
.header_right_ul li {
  float: left;
  border-right: 1px solid #666;
  padding: 0 10px;
}
.header_right_ul li a {
  color: #666;
}
.header_right_ul li a:hover {
  color: #F90800;
  text-decoration: underline;
}
.header_right_ul li a img {
  position: relative;
  top: 1px;
  right: 5px;
  bottom: auto;
  left: auto;
}
.header_right_ul li .red_a {
  color: #f70800;
}
.header_right_ul .last {
  border: none;
}

.nav {
  height: 40px;
  background: #f70800;
  position: relative;
}

.nav_con {
  height: 40px;
  position: relative;
}

.nav_hover {
  display: none;
  width: 998px;
  height: 246px;
  background: #FFF;
  position: absolute;
  top: 40px;
  z-index: 20;
  border: 1px solid #f70800;
}

.nav_out {
  width: 998px;
  height: 246px;
}

.nav_out_li {
  width: 165px;
  height: 246px;
  float: left;
  border-right: 1px solid #ededed;
}
.nav_out_li .out_top {
  width: 135px;
  height: 55px;
  margin: 0 auto;
  border-bottom: 1px dashed #ededed;
}
.nav_out_li .out_top img {
  float: left;
  display: block;
  margin-top: 24px;
  margin-left: 10px;
}
.nav_out_li .out_top h2 {
  float: left;
  margin-top: 20px;
  margin-left: 5px;
}
.nav_out_li .nav_info {
  margin: 0 auto;
  width: 135px;
}
.nav_out_li .nav_info li {
  text-align: center;
  line-height: 30px;
}
.nav_out_li .nav_info li a {
  color: #666;
}

.nav_out_li_last {
  border: none;
}

.nav_ul {
  float: left;
  overflow: hidden;
}
.nav_ul li {
  float: left;
}
.nav_ul li a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
}
.nav_ul li a img {
  position: relative;
  top: 3px;
  right: auto;
  bottom: auto;
  left: -1px;
}
.nav_ul .nav_first_li {
  background: #bc0600;
}

.nav_classify {
  width: 134px;
  height: 40px;
  float: right;
  background: url(../images/index/searchbar.jpg) no-repeat 0 -65px;
}

/*
 *
 *底部友情链接
 *
 */
.footer {
  background: #FFF;
  border-top: 1px solid #e3e3e3;
}

.footer_map {
  height: 165px;
  border-bottom: 1px solid #e3e3e3;
}

.map_out {
  margin: 0 auto;
}
.map_out .map_out_li {
  text-align: center;
  width: 135px;
  height: 115px;
  float: left;
  margin-top: 25px;
  border-right: 1px dashed #e3e3e3;
}
.map_out .map_out_li .map_info {
  margin-top: 5px;
}
.map_out .map_out_li .map_info li {
  line-height: 20px;
}
.map_out .map_out_li .map_info .map_info1 {
  font-size: 17px;
  margin-bottom: 8px;
}
.map_out .map_out_li_first {
  margin-left: 85px;
}
.map_out .map_out_li_last {
  border: none;
}
.map_out .map_erweima {
  text-align: center;
  width: 135px;
  height: 115px;
  float: left;
  margin-top: 25px;
}
.map_out .map_erweima .footer_dh {
  margin-top: 24px;
}

.footer_link {
  height: 220px;
}

.footer_list {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.copyright {
  text-align: center;
  line-height: 25px;
  color: #666;
}

.sidebar {
  width: 36px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  border-right: 4px solid #222;
}

.bar_top {
  width: 36px;
  height: 144px;
  position: absolute;
  right: -4px;
  top: 50%;
  margin-top: -72px;
}
.bar_top li {
  position: relative;
  width: 36px;
  height: 36px;
}
.bar_top li .ab {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  background: url(../images/common/right_bar.png) no-repeat;
  cursor: pointer;
  z-index: 2;
}
.bar_top li .hover_out {
  position: absolute;
  display: none;
  width: 90px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  left: -83px;
  top: 0;
  background: url(../images/common/right_bar.png) no-repeat 0 -412px;
}
.bar_top li .hover_out a {
  display: inline-block;
  width: 90px;
  height: 36px;
  color: #FFF;
}
.bar_top li .cart_con {
  background-position: 0 -46px;
}
.bar_top li .care_con {
  background-position: 0 -92px;
}
.bar_top li .listen_con {
  background-position: 0 -138px;
}
.bar_top li .hover {
  background-position-x: -46px;
}
.bar_top li .user_box {
  display: none;
  position: absolute;
  left: -258px;
  top: 0;
  width: 258px;
  height: 228px;
  background: #FFF;
  border: 1px solid #ddd;
}
.bar_top li .user_box .user_head {
  margin-top: 30px;
  margin-left: 90px;
}
.bar_top li .user_box .user_name {
  margin-top: 10px;
  text-align: center;
}
.bar_top li .user_box .user_name a {
  color: #f70800;
}
.bar_top li .user_box .user_bottom {
  position: absolute;
  bottom: 0;
  height: 62px;
  width: 258px;
  background: #f8f8f8;
}
.bar_top li .user_box .user_bottom a {
  display: block;
  width: 88px;
  height: 28px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin: 15px 25px;
  text-align: center;
  line-height: 28px;
}
.bar_top li .user_box .user_bottom .user_bottom_a2 {
  margin-left: 0;
}
.bar_top li .user_box .user_close {
  position: absolute;
  right: 12px;
  top: 15px;
  width: 11px;
  height: 11px;
  background: url(../images/common/right_bar.png) no-repeat -69px -356px;
}

.bar_bot {
  width: 36px;
  height: 108px;
  position: absolute;
  bottom: -1px;
  right: -4px;
}
.bar_bot li {
  width: 36px;
  height: 36px;
  position: relative;
}
.bar_bot .ab {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  background: url(../images/common/right_bar.png) no-repeat;
  cursor: pointer;
  z-index: 2;
}
.bar_bot .hover_out {
  position: absolute;
  display: none;
  width: 90px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  left: -83px;
  top: 0;
  background: url(../images/common/right_bar.png) no-repeat 0 -412px;
}
.bar_bot .hover_out a {
  display: inline-block;
  width: 90px;
  height: 36px;
  color: #FFF;
}
.bar_bot .code_con {
  background-position: 0 -184px;
}
.bar_bot .ask_con {
  background-position: 0 -230px;
}
.bar_bot .return_con {
  background-position: 0 -276px;
}
.bar_bot .hover {
  background-position-x: -46px;
}
.bar_bot .code_box {
  display: none;
  position: absolute;
  top: -76px;
  left: -129px;
  width: 128px;
  height: 178px;
  background: #FFF;
  border: 1px solid #ddd;
  text-align: center;
}
.bar_bot .code_box img {
  margin-top: 15px;
  margin-bottom: 12px;
}
.bar_bot .code_box span {
  line-height: 17px;
}
.bar_bot .code_box .code_span {
  color: #f70800;
}

/*
 *
 *搜索部分
 *
 */
.top {
  height: 105px;
  position: relative;
}

.top_con {
  height: 105px;
  position: relative;
}

.top_logo {
  float: left;
  width: 206px;
  height: 76px;
  margin-top: 26px;
}
.top_logo a {
  display: block;
  height: 76px;
}
.top_logo a img {
  float: left;
}

.top_search_box {
  position: absolute;
  top: 25%;
  right: auto;
  bottom: auto;
  left: 50%;
  margin-left: -208px;
  width: 416px;
  height: 32px;
  border: 2px solid #f70800;
}
.top_search_box .txt {
  width: 325px;
  height: 16px;
  float: left;
  border: none;
  outline: none;
  padding: 8px;
}
.top_search_box .btn {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 75px;
  height: 32px;
  background: #f70800;
  text-align: center;
  line-height: 32px;
  color: #FFF;
}

.top_index {
  position: absolute;
  top: 68%;
  right: auto;
  bottom: auto;
  left: 51%;
  margin-left: -208px;
  width: 416px;
  height: 32px;
}
.top_index li {
  float: left;
  margin-right: 10px;
}
.top_index li a {
  color: #666;
}
.top_index li a:hover {
  color: #F90800;
  text-decoration: underline;
}

.top_car {
  float: right;
  margin-top: 28px;
  width: 138px;
  height: 30px;
  border: 1px solid #ddd;
  position: relative;
  z-index: 101;
}
.top_car .car_img1 {
  margin: 5px 0 0 12px;
  width: 19px;
  height: 18px;
  background: url(../images/common/icon2.png) no-repeat 0 -66px;
}
.top_car .car_img2 {
  position: relative;
  top: -4px;
  right: auto;
  bottom: auto;
  left: 18px;
  width: 11px;
  height: 7px;
  background: url(../images/common/icon2.png) no-repeat -189px -60px;
}
.top_car .car_number {
  position: absolute;
  top: -7px;
  right: 22px;
  bottom: auto;
  left: auto;
  width: 22px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  color: #FFF;
  font-weight: bold;
  background: url(../images/common/icon2.png) no-repeat 0 -101px;
}
.top_car .car_font {
  color: #666;
  position: relative;
  top: -4px;
  right: auto;
  bottom: auto;
  left: 8px;
}
.top_car .car_font:hover {
  color: #F90800;
  text-decoration: underline;
}
.top_car .car_box {
  display: none;
  position: absolute;
  top: 30px;
  right: -1px;
  width: 280px;
  height: 84px;
  border: 1px solid #ddd;
  background: #FFF;
  z-index: 100;
}
.top_car .car_box .carlist {
  width: 280px;
  height: 84px;
}
.top_car .car_box .carlist p {
  float: left;
  margin: 30px 70px;
}

/*
 *
 *搜索部分
 *
 */
.menu {
  height: 42px;
  border-bottom: 2px solid #f70800;
  margin-bottom: 10px;
}

.menu_con {
  width: 1150px;
  height: 42px;
  position: relative;
}

.menu_ul {
  position: absolute;
  bottom: 5px;
  left: 50px;
}
.menu_ul li {
  float: left;
  padding: 0 10px;
}
.menu_ul li a {
  color: #666;
  font-size: 14px;
}
.menu_ul li a:hover {
  color: #F90800;
  text-decoration: underline;
}

.all_classify {
  position: absolute;
  right: 0;
  bottom: 5px;
}
.all_classify a {
  display: inline-block;
  width: 11px;
  height: 6px;
  background: url(../images/common/icon2.png) no-repeat -189px -60px;
}

.content {
  width: 100%;
  padding-bottom: 30px;
}

.content_title {
  width: 969px;
  margin-top: 25px;
}

.content_banner {
  width: 960px;
  height: 93px;
  border: 4px solid #ffdba1;
  margin-top: 22px;
}
.content_banner li {
  width: 319px;
  height: 93px;
  float: left;
  border-right: 1px solid #eee7dd;
}
.content_banner li a {
  display: inline-block;
  width: 319px;
  height: 93px;
}
.content_banner li .content_banner1 {
  background: url(../images/productDetail/content_banner1.jpg) no-repeat;
}
.content_banner li .content_banner2 {
  background: url(../images/productDetail/content_banner2.jpg) no-repeat;
}
.content_banner li .content_banner3 {
  background: url(../images/productDetail/content_banner3.jpg) no-repeat;
}

.content_productBox {
  width: 967px;
  height: 600px;
  border: 1px solid #dbdbd7;
  margin-top: 15px;
}

.product_left {
  width: 452px;
  height: 583px;
  float: left;
  margin: 9px 0 0 9px;
  position: relative;
}

.product_big {
  position: relative;
  width: 452px;
  height: 452px;
  border: 1px solid #dfdfdf;
  overflow: hidden;
}

.product_bigImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 1800px;
  height: 450px;
}
.product_bigImg li {
  float: left;
  width: 450px;
  height: 450px;
}
.product_bigImg li img {
  display: block;
  float: left;
  width: 450px;
  height: 450px;
}
.product_bigImg .bigImg4 {
  border-right: none;
}

.product_smallImg_box {
  position: relative;
  width: 452px;
  height: 80px;
}

.product_move {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  border: 1px solid #f2f2f2;
  background: #ccc;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 200;
  cursor: move;
}

.product_smallImg {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 310px;
  height: 70px;
}
.product_smallImg li {
  float: left;
  width: 68px;
  height: 68px;
  margin-right: 10px;
  border: 1px solid #dfdfdf;
  cursor: pointer;
}
.product_smallImg li:hover {
  border: 1px solid #f70800;
}
.product_smallImg li img {
  display: block;
  width: 68px;
  height: 68px;
}
.product_smallImg .imgHover {
  border: 1px solid #f70800;
}
.product_smallImg .last {
  margin: 0;
}

.img_prev {
  position: absolute;
  left: 5px;
  top: 38px;
  display: block;
  width: 8px;
  height: 15px;
  background: url(../images/productDetail/img_left.jpg) no-repeat;
}

.img_next {
  position: absolute;
  left: 340px;
  top: 38px;
  display: block;
  width: 8px;
  height: 15px;
  background: url(../images/productDetail/img_right.jpg) no-repeat;
}

.smallImg_bottom {
  width: 450px;
  height: 35px;
  float: left;
  margin-top: 20px;
}
.smallImg_bottom .smallImg_bottom_left {
  display: block;
  float: left;
  margin-left: 50px;
}
.smallImg_bottom .smallImg_bottom_right {
  display: block;
  float: right;
  margin-right: 30px;
}

.product_blowUp {
  position: absolute;
  overflow: hidden;
  display: none;
  background: #FFF;
  left: 451px;
  top: 0;
  width: 450px;
  height: 450px;
  border: 1px solid #dfdfdf;
  z-index: 100;
}
.product_blowUp img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 850px;
  height: 850px;
}

.product_right {
  width: 498px;
  height: 577px;
  float: left;
  position: relative;
  margin-left: 8px;
}

.right_top {
  margin-top: 20px;
  height: 35px;
  line-height: 35px;
}
.right_top .right_top_left {
  float: left;
  display: inline-block;
  margin-left: 46px;
}
.right_top .right_top_right {
  float: right;
  display: inline-block;
  margin-right: 30px;
}

.product_text {
  width: 498px;
  height: 498px;
  background: #fafafa;
  position: relative;
}

.product_name {
  height: 80px;
  background: #d70006;
  padding-left: 45px;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #FFF;
}

.product_ul {
  width: 400px;
  height: 260px;
  margin-left: 45px;
}

.product_price {
  height: 43px;
  width: 343px;
  line-height: 43px;
}
.product_price .right_span {
  display: inline-block;
  float: right;
  width: 74px;
  height: 21px;
  background: #FFF;
  border: 1px solid #dbdbd7;
  line-height: 21px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-top: 16px;
}

.preferential_price {
  width: 343px;
}
.preferential_price p {
  float: left;
  font-size: 18px;
  line-height: 35px;
}
.preferential_price p span {
  font-size: 30px;
  font-weight: 700;
}
.preferential_price a {
  display: inline-block;
  float: right;
  margin-top: 14px;
}
.preferential_price a span {
  color: #00aebd;
}

.product_items {
  height: 30px;
  margin-top: 10px;
}
.product_items .first_span {
  float: left;
  display: inline-block;
  width: 64px;
  text-align: left;
  line-height: 30px;
}
.product_items .goods_div {
  float: left;
  padding: 3px;
  height: 18px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 18px;
}
.product_items .goods_div img {
  position: relative;
  top: -3px;
}
.product_items .goods_p {
  float: left;
  margin-left: 14px;
  line-height: 30px;
}
.product_items .goods_p span {
  color: #f70800;
}
.product_items .num_change {
  float: left;
  width: 94px;
  height: 22px;
  border: 1px solid #ccc;
}
.product_items .num_change input {
  float: left;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border: none;
}
.product_items .num_change .decrease {
  border-right: 1px solid #ccc;
  width: 24px;
}
.product_items .num_change .add {
  border-left: 1px solid #ccc;
  width: 24px;
}
.product_items .product_number {
  width: 46px;
}

.product_btn {
  width: 400px;
  height: 46px;
  margin-left: 45px;
}
.product_btn button {
  width: 166px;
  height: 46px;
  text-align: center;
  color: #FFF;
  border: none;
  cursor: pointer;
  font: bold 17px/46px "黑体";
  margin-right: 10px;
}
.product_btn button img {
  position: relative;
  top: 2px;
  left: -2px;
}
.product_btn .product_buy {
  background: #d50134;
}
.product_btn .product_buy:hover {
  background: #ff004e;
}
.product_btn .product_addCar {
  background: #ffa800;
}
.product_btn .product_addCar:hover {
  background: #ffd200;
}

.product_contact {
  position: absolute;
  bottom: 0;
  width: 452px;
  height: 52px;
  border-top: 1px solid #dbdbd7;
}
.product_contact h1 {
  float: left;
  font-weight: 400;
  margin: 14px 0 0 66px;
}
.product_contact span {
  display: inline-block;
  margin: 25px 0 0 10px;
  color: #555;
}

/*# sourceMappingURL=main_productDetail.css.map */
