@charset "utf-8";

.login{
  height:$login;
}
.register{
  height:$register;
}
.login_con{
  @extend .error;
  position: relative;
}
.login_top{
  height:112px;
  width:$webw;
  .a_index,.a_login,.a_register{
    display: block;
    width:185px;
    height:57px;
    background: url(../images/common/welland.gif) no-repeat;
    float: left;
    margin-top: 43px;
  }
  .a_login{
    width:170px;
    background-position: 0 -58px;
  }
  .a_register{
    width:170px;
    background: url(../images/common/welreg_01.gif) no-repeat;
  }
  .login_top_right{
    float: right;
    margin-right: 30px;
    margin-top: 80px;
    a{
      color: blue;
    }
    span{
      color: $red;
    }
  }
}
.login_box{
  width:964px;
  height:374px;
  border:2px solid $orange;
  margin-left: 2px;
}
.register_box{
  height:447px;
  margin-top: 42px;
  position: relative;
}
.register_form{
  float: left;
  display: block;
  margin-top: 35px;
}
.tab_register{
  position:absolute;
  height:42px;
  top:-44px;
  left:-2px;
  li{
    width:225px;
    height:42px;
    float: left;
    margin-right: 2px;
    background:url(../images/common/welreg_01.gif) no-repeat 0 -102px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    .span_icon{
      position: relative;
      top:3px;
      display: inline-block;
    }
    .phone_register_left{
      width:12px;
      height:16px;
      background:url(../images/common/welreg_01.gif) no-repeat 0 -212px;
    }
    .phone_register_left_click{
      background:url(../images/common/welreg_01.gif) no-repeat 0 -233px;
    }
    .email_register_left{
      width:16px;
      height:12px;
      background:url(../images/common/welreg_01.gif) no-repeat 0 -252px;
    }
    .email_register_left_click{
      background:url(../images/common/welreg_01.gif) no-repeat 0 -268px;
    }
    .span_font{
      color: #000;
    }
    .click{
      color: #FFF;
    }
  }
}

.register_line{
  float: left;
  width:964px;
  height:45px;
  padding:5px 0;
  .register_first{
     float: left;
     display: block;
     width:202px;
     height:45px;
     line-height: 45px;
    text-align: right;
   }
  .identifyCode{
    float: left;
    width:80px;
    height:30px;
    margin:8px 0 0 10px;
    background: #e3e3e3;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
  }
  .change_code_span{
    float: left;
    display: inline-block;
    line-height: 45px;
    margin-left: 10px;
    a{
      color: blue;
    }
  }
  .register_prompt{
    display: none;
    width:300px;
    height:35px;
    line-height: 35px;
    margin-top: 5px;
    float: right;
    margin-right: 95px;
    border:1px solid #ffadb0;
    background: #fff3f3;
    color: $red;
    padding-left:5px;
  }
  .item{
    display: inline-block;
    float: left;
    width:329px;
    height:18px;
    border:1px solid #a2a2a2;
    margin-top: 5px;
    padding:10px;
    font-size: 15px;
  }
  .item_phone{
    background: url(../images/common/user.png) no-repeat 315px 10px;
  }
  .item_password{
    background: url(../images/common/pwd.png) no-repeat 315px 10px;
  }
  .item_passwordSure{
    background: url(../images/common/pwd.png) no-repeat 315px 10px;
  }
  .item_right{
    background: url(../images/common/right.png) no-repeat 315px 10px;
  }
  .item_rightCode{
    background: url(../images/common/right.png) no-repeat 122px 10px;
  }
  .register_remember{
    position: relative;
    top:2px;
    left:-3px;
  }
  .register_agree{
    a{
      color: blue;
    }
  }
  .item_code{
    width:122px;
  }
}

.login_box_left{
  width:665px;
  height:374px;
  float: left;
}
.register_line_submit{
  height:25px;
  .register_submit{
    border:none;
    float: left;
    display: block;
    width:126px;
    height:33px;
    cursor: pointer;
    outline: none;
    background: url(../images/common/welreg_01.gif) no-repeat 0 -175px;
  }
}
.register_line_last{
  padding-top: 20px;
  height:25px;
  a{
    color: blue;
  }
}
.login_form{
  width:360px;
  height:220px;
  margin:60px 0 0 130px;
  .input{
    width:326px;
    height:15px;
    padding:10px;
  }
  .user_name{
    height:70px;
  }
  .user_pass{
    height:70px;
  }
  .user_remember{
    width:326px;
    height:20px;
    margin-top: 5px;
    input{
      float: left;
    }
    .a_forget{
      display: inline-block;
      float: right;
      color: blue;
    }
  }
  .txt_prompt,.pass_prompt{
    visibility: hidden;
    color: $red;
  }
  .login_submit{
    width:351px;
    height:37px;
    color: #FFF;
    line-height: 37px;
    text-align: center;
    border:none;
    outline: none;
    cursor: pointer;
    background: url(../images/common/welland.gif) no-repeat 0 -117px;
  }
}
.login_box_right{
  width:299px;
  height:374px;
  float: right;
  background: #fff6ec;
  p{
    text-align: center;
  }
  a{
    display: block;
    width:142px;
    height:32px;
    line-height:32px;
    margin-top: 5px;
    text-align: center;
    background: url(../images/common/welland.gif) no-repeat 0 -155px;
  }
}
.login_right1{
  width:150px;
  margin: 61px 0 0 78px;
}
.login_right2{
  width:150px;
  margin: 37px 0 0 78px ;
}
.saoyisao {
  position: absolute;
  left: -140px;
  top: 130px;
}
.frameBox{
  width:100%;
  height:100%;
  background: #000;
  overflow:hidden;
  position:absolute;
  opacity:0.3;
  filter:alpha(opacity=30);
  top:0;
  left:0;
  z-index: 999;
  display: none;
}
.frame,.frame1,.frame2{
  width:300px;
  height:350px;
  position: absolute;
  left:50%;
  top:180px;
  border:2px solid #ccc;
  margin-left: -150px;
  background: #FFF;
  @include border-radius(5px);
  z-index: 1000;
  display: none;
}
.go_login{
  position: absolute;
  width:225px;
  height:42px;
  left:50%;
  margin-left: -112px;
  top:250px;
  z-index: 1001;
  background: url(../images/common/welreg_01.gif) no-repeat 0 -58px;
  color: #FFF;
  font:bold 25px "黑体";
  line-height:42px;
  text-align: center;
  cursor: pointer;
}
.message_box{
  width:225px;
  height:120px;
  margin:50px 0 0 40px;
  text-align: center;
  p{
    height:40px;
    font:20px "黑体";
  }
  .message2{
    color: $red;
  }
}
