@charset "utf-8";

/*
 *
 *搜索部分
 *
 */
.top{
  height:$top;
  position: relative;
}
.top_con {
  @extend .error;
  height: $top;
  position: relative;
}
.top_logo{
  float: left;
  width: 206px;
  height: 76px;
  margin-top: 26px;
  a{
    display: block;
    height: 76px;
    img{
      float: left;
    }
  }
}
.top_search_box{
  @include pos(absolute,25%,auto,auto,50%);
  margin-left: -208px;
  width:416px;
  height:32px;
  border:2px solid $red;
  .txt{
    width:325px;
    height:16px;
    float: left;
    border:none;
    outline:none;
    padding:8px;
  }
  .btn{
    float: left;
    border:none;
    outline:none;
    cursor: pointer;
    width:75px;
    height:32px;
    background: $red;
    text-align: center;
    line-height:32px;
    color: #FFF;
  }
}
.top_index {
  @include pos(absolute, 68%, auto, auto, 51%);
  margin-left: -208px;
  width: 416px;
  height: 32px;
  li{
    float: left;
    margin-right: 10px;
    a{
      @include link-colors();
    }
  }
}
.top_car{
  float: right;
  margin-top: 28px;
  width:138px;
  height:30px;
  border:1px solid #ddd;
  position: relative;
  z-index: 101;
  .car_img1{
    //@include pos(relative,5px, auto, auto, 12px);
    margin:5px 0 0 12px;
    width:19px;
    height:18px;
    background: url(../images/common/icon2.png) no-repeat 0 -66px;
  }
  .car_img2{
    @include pos(relative,-4px, auto, auto, 18px);
    width:11px;
    height:7px;
    background: url(../images/common/icon2.png) no-repeat -189px -60px;
  }
  .car_number{
    @include pos(absolute,-7px, 22px, auto, auto);
    width:22px;
    height:14px;
    text-align: center;
    line-height: 14px;
    color: #FFF;
    font-weight: bold;
    background: url(../images/common/icon2.png) no-repeat 0 -101px;
  }
  .car_font{
    @include link-colors();
    @include pos(relative,-4px, auto, auto, 8px);
  }
  .car_box{
    display: none;
    position: absolute;
    top:30px;
    right:-1px;
    width:280px;
    height:84px;
    border:1px solid #ddd;
    background: #FFF;
    z-index: 100;
    .carlist{
      width:280px;
      height:84px;
      p{
        float: left;
        margin:30px 70px;
      }
    }
  }
}
/*
 *
 *搜索部分
 *
 */
.menu{
  height:42px;
  border-bottom:2px solid $red;
  margin-bottom: 10px;
}
.menu_con{
  @extend .error;
  width:1150px;
  height:42px;
  position: relative;
}
.menu_ul{
  position: absolute;
  bottom:5px;
  left:50px;
  li{
    float: left;
    padding:0 10px;
    a{
      @include link-colors();
      font-size: 14px;
    }
  }
}
.all_classify{
  position: absolute;
  right:0;
  bottom:5px;
  a{
    display:inline-block;
    width:11px;
    height:6px;
    background: url(../images/common/icon2.png) no-repeat -189px -60px;
  }
}
.content{
  width:100%;
  @extend .clearfix;
  padding-bottom: 30px;
}
.content_title{
  @extend .error;
  width:969px;
  margin-top: 25px;
}
.content_banner{
  @extend .error;
  width:960px;
  height:93px;
  border:4px solid #ffdba1;
  margin-top: 22px;
  li{
    width:319px;
    height:93px;
    float: left;
    border-right:1px solid #eee7dd;
    a{
      display: inline-block;
      width:319px;
      height:93px;
    }
    .content_banner1{
      background: url(../images/productDetail/content_banner1.jpg) no-repeat;
    }
    .content_banner2{
      background: url(../images/productDetail/content_banner2.jpg) no-repeat;
    }
    .content_banner3{
      background: url(../images/productDetail/content_banner3.jpg) no-repeat;
    }
  }
}
.content_productBox{
  @extend .error;
  width:967px;
  height:600px;
  border:1px solid #dbdbd7;
  margin-top: 15px;
}
.product_left{
  width:452px;
  height:583px;
  float: left;
  margin:9px 0 0 9px;
  position: relative;
}
.product_big{
  position: relative;
  width:452px;
  height:452px;
  border: 1px solid #dfdfdf;
  overflow: hidden;
}
.product_bigImg{
  position: absolute;
  left:0;
  top:0;
  width:1800px;
  height:450px;
  li{
    float: left;
    width:450px;
    height:450px;
    img{
      display: block;
      float: left;
      width:450px;
      height:450px;
    }
  }
  .bigImg4{
    border-right: none;
  }
}
.product_smallImg_box{
  position: relative;
  width:452px;
  height:80px;
}
.product_move{
  position: absolute;
  display: none;
  left:0;
  top:0;
  width:150px;
  height:150px;
  border:1px solid $gray;
  background: #ccc;
  opacity: 0.5;
  filter:alpha(opacity=50);
  z-index: 200;
  cursor: move;
}
.product_smallImg{
  position: absolute;
  bottom:0;
  left:20px;
  width:310px;
  height:70px;
  li{
    float: left;
    width:68px;
    height:68px;
    margin-right: 10px;
    border:1px solid #dfdfdf;
    cursor: pointer;
    &:hover{
      border:1px solid #f70800;
    }
    img{
      display: block;
      width:68px;
      height:68px;
    }
  }
  .imgHover{
    border:1px solid #f70800;
  }
  .last{
    margin:0;
  }
}
.img_prev{
  position: absolute;
  left:5px;
  top:38px;
  display: block;
  width:8px;
  height:15px;
  background: url(../images/productDetail/img_left.jpg) no-repeat;
}
.img_next{
  position: absolute;
  left:340px;
  top:38px;
  display: block;
  width:8px;
  height:15px;
  background: url(../images/productDetail/img_right.jpg) no-repeat;
}
.smallImg_bottom{
  @extend .clearfix;
  width:450px;
  height:35px;
  float: left;
  margin-top: 20px;
  .smallImg_bottom_left{
    display: block;
    float: left;
    margin-left: 50px;
  }
  .smallImg_bottom_right{
    display: block;
    float: right;
    margin-right: 30px;
  }
}
.product_blowUp{
  position: absolute;
  overflow: hidden;
  display: none;
  background: #FFF;
  left:451px;
  top:0;
  width:450px;
  height:450px;
  border:1px solid #dfdfdf;
  z-index: 100;
  img{
    position: absolute;
    left:0;
    top:0;
    display: block;
    width:900px;
    height:900px;
  }
}
.product_right{
  width:498px;
  height:577px;
  float: left;
  position: relative;
  margin-left: 8px;
}
.right_top{
  margin-top: 20px;
  height:35px;
  line-height: 35px;
  .right_top_left{
    float: left;
    display: inline-block;
    margin-left: 46px;
  }
  .right_top_right{
    float: right;
    display: inline-block;
    margin-right: 30px;
  }
}
.product_text{
  width:498px;
  height:498px;
  background: #fafafa;
  position: relative;
}
.product_name{
  height:80px;
  background: #d70006;
  padding-left:45px;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #FFF;
}
.product_ul{
  width:400px;
  height:260px;
  margin-left: 45px;
  li{

  }
}
.product_price{
  height:43px;
  width:343px;
  line-height: 43px;
  .right_span{
    display: inline-block;
    float: right;
    width:74px;
    height:21px;
    background: #FFF;
    border:1px solid #dbdbd7;
    line-height: 21px;
    text-align: center;
    @include border-radius(3px);
    margin-top: 16px;
  }
}
.preferential_price{
  width:343px;
  @extend .clearfix;
  p{
    float: left;
    font-size: 18px;
    line-height: 35px;
    span{
      font-size: 30px;
      font-weight: 700;
    }
  }
  a{
    display: inline-block;
    float: right;
    margin-top: 14px;
    span{
      color: #00aebd;
    }
  }
}
.product_items{
  height:30px;
  margin-top: 10px;
  .first_span{
    float: left;
    display: inline-block;
    width:64px;
    text-align: left;
    line-height: 30px;
  }
  .goods_div{
    float: left;
    padding: 3px;
    height:18px;
    border:1px solid #ccc;
    text-align: center;
    line-height: 18px;
    margin-right: 10px;
    cursor: pointer;
    img{
      position: relative;
      top:-3px;
    }
  }
  .goods_div_default{
    border:1px solid $red;
  }
  .goods_p{
    float: left;
    margin-left: 14px;
    line-height: 30px;
    span{
      color: $red;
    }
  }
  .num_change{
    float: left;
    width:94px;
    height:22px;
    border:1px solid #ccc;
    input{
      float: left;
      height:22px;
      text-align: center;
      line-height: 22px;
      border:none;
    }
    .decrease{
      border-right: 1px solid #ccc;
      width:24px;
      cursor: pointer;
    }
    .add{
      border-left: 1px solid #ccc;
      width:24px;
      cursor: pointer;
    }
  }
  .product_number{
    width:46px;
  }
}
.product_btn{
  width:400px;
  height:46px;
  margin-left: 45px;
  button{
    width:166px;
    height:46px;
    text-align: center;
    color: #FFF;
    border:none;
    cursor: pointer;
    font:bold 17px/46px "黑体";
    margin-right:10px;
    img{
      position: relative;
      top:2px;
      left:-2px;
    }
  }
  .product_buy{
    background: #d50134;
    &:hover{
      background: #ff004e;
    }
  }
  .product_addCar{
    background: #ffa800;
    &:hover{
      background: #ffd200;
    }
  }
}
.product_contact{
  position: absolute;
  bottom:0;
  width:452px;
  height:52px;
  border-top:1px solid #dbdbd7;
  h1{
    float: left;
    font-weight: 400;
    margin:14px 0 0 66px;
  }
  span{
    display: inline-block;
    margin:25px 0 0 10px;
    color: #555;
  }
}



