@charset "UTF-8";
//宽度
$webw : 1000px;
$webw2 : 1105px;

//各部分高度
$topad : 80px;
$header : 28px;
$top : 105px;
$nav : 40px;
$banner : 340px;
$content_choice : 402px;
$well_chosen : 665px;
$login : 540px;
$register :657px;

//特殊颜色变量
$gray : #f2f2f2;
$gray_border : #ddd;
$red : #f70800;
$font-color : #666;
$ahover : $red;
$avisited : $red;
$orange : #ff8400;
